* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: Montserrat, serif;
    max-width: 100%;
}

.ul1 {
    display: flex;
}

.nav-link {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
}

.voucher-link {
    display: flex;

}

.top,
.top .nav-link {
    font-size: 0.689rem;
    font-weight: 300;
    gap: 0;
}

.top {
    border-bottom: .1rem solid rgba(128, 128, 128, 0.188);
}

.top>* {
    border: rgba(128, 128, 128, 0.188) 0.1rem solid;
    border-right: 0rem;
    border-bottom: 0rem;
}

.register {
    border-right: rgba(128, 128, 128, 0.188) 0.1rem solid;
    margin-inline-end: 6rem;
}

.top>*:nth-of-type(1) {
    flex-grow: 1;
    padding-inline-start: 4rem;
}

.bottom {
    padding-inline: 3.6rem;
    justify-content: space-between;
    padding-block: 2.25rem;
    padding-right: 6rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ul1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul1:nth-of-type(2) .nav-link {
    padding-inline: 0rem;
    flex-grow: 1;
}

.ul1:nth-of-type(3) {
    align-self: flex-start;
    margin-top: 1.7rem;
    justify-content: flex-end;
}

.ul1:nth-last-of-type(2) {
    justify-content: center;
    flex-basis: 50%;
}

.ul1:nth-last-of-type(1) {
    display: flex;
    flex-grow: 0.5;
    gap: 1.5rem;
}

.ul1:nth-last-of-type(1) .icon {
    scale: 1.2;
    cursor: pointer;
}

.bottom .nav-link {
    color: #555555;
    cursor: pointer;
    font-size: 0.817rem;
    font-weight: 700;
    padding-top: 0.7rem;
    padding-bottom: 2.2rem;
}

.bottom .nav-link:hover {
    color: rgb(150, 183, 108);
}

#logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.42857;
    color: rgb(68, 68, 68);
    display: flex;
    padding: 1rem;
}

.voucher1 {
    background: rgb(150, 183, 108);
    color: #fff;
    padding: 0.6rem 1rem;
    margin: 0.9rem;
    border-radius: 0.3rem;
    margin-right: 0.4rem;
}

.voucher2 {
    padding-left: 0.4rem;
}

.icon {
    margin-left: 0.3rem;
    color: rgb(128, 128, 128);
}

.top i {
    scale: 0.7;
    cursor: pointer;
}

.menu {
    display: flex;
    font-size: 2rem;
    color: #555555;
    cursor: pointer;
    display: none;
    position: relative;
}

.mobmenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobmenu .nav-link {
    font-weight: 300;
    padding-block: 0.5rem;
    font-size: 0.9rem;
    border-top: rgba(128, 128, 128, 0.188) 0.1rem solid;
    border-right: rgba(128, 128, 128, 0.188) 0.1rem solid;
    border-left: rgba(128, 128, 128, 0.188) 0.1rem solid;
    justify-content: start;
}

.mobmenu .nav-link:nth-last-of-type(1) {
    border-bottom: rgba(128, 128, 128, 0.188) 0.1rem solid;
}

.hide {
    animation: 0.1s ease-in-out hide forwards;
    z-index: -1;
}
.ul1, .top{
    z-index: 1;
    background: #fff;
}
@keyframes hide {
    100% {
        transform: translateY(-2rem);
        display: none;
    }
}

@media screen and (max-width: 1220px) {
    .voucher-link {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        display: flex;
    }

    .middle {
        display: none;
    }

    .end {
        justify-content: flex-end;
    }

    .register {
        min-width: max-content;
        margin-inline-end: 0;
    }

    .top {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 576px) {

    #logo,
    .menu {
        font-size: 1.4rem;
    }

    .bottom {
        padding: 1rem;
    }

    .top .nav-link {
        padding: 1rem;
    }
}